<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'img/logo.jpg'%}">
    <style>
        .full-screen {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        body{
            background-image: url(https://images.pexels.com/photos/194511/pexels-photo-194511.jpeg?auto=compress&cs=tinysrgb&w=600);
        }
    </style>
</head>
<body>
    

<div class="container-fluid full-screen">
    <a  href="index.html" class="btn btn-danger btn-lg">Play Game</a>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>